*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}
.title-text-color{
    color: #FD6E0A;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}